 
.containerServicos {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    width: 35%;
    max-width: 40%;
    height: auto;
    border: 1px solid #cacaca;
    border-radius: 5%;
    margin: 5%;
    text-align: center;
    background-color: #ff6600;
    transition: 0.4;
}
.containerServicos a {
    width: 100%;
}

.containerServicos:active {
    opacity: 0.7;
}

.imgContent {
    width: 100%;
    height: 80%;
}

img {
    width: 95%;
    height: 95%;
    margin: 2%;
}
.txtContent {
    width: 100%;
    height: 20%;
    text-align: center;
}
.txtContent b {
    font-size: 18px;
    color: white;
}